<div id="addTaskPopUp" class="wrapperPopUpTask">
    <div id="addTaskPopUpContent" class="contentPopUpTask">
        <div class="taskPopUpHeader">
            <h1>Add Task</h1>
            <img onclick="closePopUpAddTask()" class="closePopUp" src="./assets/img/closeButtonBoard.png">
        </div>

        <form onsubmit="addToTasks(); return false" class="taskBoardPopUpTask">


            <div class="taskBoardLeftPopUpTask formDiv">
                <div class="formDiv"><!--Title container-->
                    <label>Title</label>
                    <input class="inputPopUp" id="task" type="text" placeholder="Enter a title" required>
                </div>

                <div class="formDiv"><!--Title container-->
                    <label>Description</label>
                    <textarea id="description" required style="color: #000000;" required type="text"
                        placeholder="Enter a description"></textarea>
                </div>

                <div class="categoryContainer formDiv"> <!--Category container-->
                    <label>Category</label>

                    <div id="categoryDropdown" class="dropdown formDiv positionAbsolute100">
                        <div onclick="openCategories('dropdownCategory')" class="headerForSelectionField formDiv">
                            <label id="labelCategory">Select task category</label>
                            <img class="arrDown" src="./assets/img/arrDown.png">
                            <!--Hidden input category-->
                            <div onclick="stopPropagation(event)" id="hiddenInputCategory"
                                class="hiddenInput displayNone formDiv">

                                <input class="inputPopUp  inputOfCategory" id="selectedCategoryInputValue"
                                    placeholder="New category name">
                                <img onclick="closeHiddenInput()" class="closeHiddenInput"
                                    src="./assets/img/closeButtonBoard.png">
                                <hr class="hrPopUp">
                                <img class="createInHiddenInput" onclick="addCategoryOnTask()"
                                    src="./assets/img/check.png">


                                <div class="colorPickers formDiv">
                                    <div onclick="addCategoryColorOnTask(1)" id="color1" class="colorPicker"
                                        style="background-color:#8AA4FF;"></div>
                                    <div onclick="addCategoryColorOnTask(2)" id="color2" class="colorPicker"
                                        style="background-color:#FF0000;"></div>
                                    <div onclick="addCategoryColorOnTask(3)" id="color3" class="colorPicker"
                                        style="background-color:#2AD300 ;"></div>
                                    <div onclick="addCategoryColorOnTask(4)" id="color4" class="colorPicker"
                                        style="background-color:#FF8A00 ;"></div>
                                    <div onclick="addCategoryColorOnTask(5)" id="color5" class="colorPicker"
                                        style="background-color:#E200BE ;"></div>
                                    <div onclick="addCategoryColorOnTask(6)" id="color6" class="colorPicker"
                                        style="background-color:#0038FF ;"></div>
                                </div>
                            </div>
                        </div>
                        <div id="dropdownCategory" style="display: none;" class="dropdown-content ">
                            <a onclick="openInputAddCategory(event); stopPropagation(event)" href="#">Add category</a>
                        </div>
                    </div>
                </div>

                <div class="contactContainer formDiv"> <!--Assigned to container-->
                    <label>Assigned to</label>
                    <div id="dropdownAssigned" class="dropdownAssigned">
                        <div onclick="contactList('dropdownAddContactPopUp')" class="headerForSelectionField formDiv">
                            <label style="position: relative;">Select contacts</label>
                            <img class="arrDown" src="./assets/img/arrDown.png">
                            <div>
                                <input id="hiddenInputAddContact" class="hiddenInput displayNone"
                                    placeholder="New category name"> <!--Hidden input addContact-->

                            </div>

                        </div>
                        <div id="dropdownAddContactPopUp" style="display: none;" class="dropdown-content">

                        </div>
                    </div>
                </div>


            </div>
            <div class="dividingHRPopUp"></div>
            <div class="taskBoardRightPopUp formDiv">

                <div class="formDiv">
                    <label>Due date</label>
                    <input class="inputPopUp" type="date" id="date" required />
                </div>

                <div class="formDiv">
                    <label>Prio</label>
                    <div id="priorities" class="prioritiesPopUpTask inputPopUp" style="border: none;">
                        <img id="prio1" value="urgent" onclick="addPriority(1)" class="priorityImg"
                            src="./assets/img/urgentImg.png">
                        <img id="prio2" value="medium" onclick="addPriority(2)" class="priorityImg"
                            src="./assets/img/mediumImg.png">
                        <img id="prio3" value="low" onclick="addPriority(3)" class="priorityImg"
                            src="./assets/img/lowImg.png">
                    </div>
                </div>




                <div class="formDiv">
                    <label>Subtasks</label>
                    <div class="addSubTaskPopUpTask">
                        <input class="inputPopUp" maxlength="35" id="subtaskPopUp" placeholder="Add new subtask">
                        <img class="addSubtaskButtonPopUpTask" onclick="addSubtask('subtaskPopUp')"
                            class="addSubtaskButtonPopUpTask" src="./assets/img/addSubtaskButton.png">
                    </div>
                    <div id="subtasksOnAddTask" class="checkBoxSubtasksDivPopUp">

                    </div>
                </div>


                <div class="formDiv">
                    <span class="formSpan"></span>
                </div>
                <div class="buttonsCreateTaskPopUpTask formDiv">
                    <button onclick="window.location.reload(); return false" class="buttonClearTaskPopUpTask">
                        <span>Clear</span>
                        <span class="clearTaskPageImgPopUpTask">+</span>
                        <!-- <img class="clearTaskPageImg" src="./assets/img/clearTaskPage.png"> -->
                    </button>
                    <button type="submit" id="addTaskButton" class="buttonCreateTaskPopUpTask">
                        <span class="formSpan">Create Task</span>
                        <img class="createTaskPageImgPopUpTask" src="./assets/img/createTaskPage.png">
                    </button>
                </div>

        </form>
        <div id="popUpWhenAdded" class="taskAddedPopUp displayNone"><span>Task added to board</span></div>
    </div><!--taskBoard closed-->



</div><!--content closed-->
</div><!--wrapper closed-->