<header>
    <img src="./assets/img/logo-blue.png" id="logo-responsive">

    <div class="kanban-text-container">
        <span> Kanban Project Managnement Tool</span>
    </div>

    <div class="header-right">
        <a id="link-to-help" href="./help.html">
            <img class="question-mark" src="./assets/img/questions_mark.png" alt="Help">
        </a>
        <div id="profile-picture" class="profile-picture-container" onclick="openImgDropDoen()">
            <img class="profile-picture" src="./assets/img/name-icon.png" id="profile" alt="Profile">
        </div>
    </div>
</header>