<nav id="nav">
    <div class="sidebar-logo">
        <img src="./assets/img/join-logo-white.svg" alt="JOIN">
    </div>

    <div class="sidebar-links">
        <a id="summary-props" href="./summary.html" class="sidebar-props">
            <div class="sidebar-icons">
                <img src="./assets/img/summary-icon.svg">
            </div>
            <span class="sidebar-text">
                Summary
            </span>
        </a>

        <a id="board-props" href="./board.html" class="sidebar-props">
            <div class="sidebar-icons">
                <img src="./assets/img/board-icon.svg">
            </div>
            <span class="sidebar-text">
                Board
            </span>
        </a>

        <a id="addTask-props" href="./addTask.html" class="sidebar-props">
            <div class="sidebar-icons">
                <img src="./assets/img/add-task-icon.svg">
            </div>
            <span class="sidebar-text">
                Add Task
            </span>
        </a>

        <a id="contacts-props" href="./contacts.html" class="sidebar-props">
            <div class="sidebar-icons">
                <img src="./assets/img/contacts-icon.svg">
            </div>
            <span class="sidebar-text">
                Contacts
            </span>
        </a>
    </div>

    <div class="sidebar-legal-notice">
        <a id="legal-props" href="legal-notice.html" class="legal-notice">
            <div class="sidebar-icons">
                <img src="./assets/img/legal-notice-icon.png">
            </div>
            <span class="sidebar-text">
                Legal notice
            </span>
        </a>
    </div>
</nav>