<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style_templates.css">
    <link rel="stylesheet" href="fonts.css">
</head>

<body>

    <header>
        <span> Kanban Project Managnement Tool</span>

        <div class="header-right">
            <a id="link-to-help" href="#">
                <img class="question-mark" src="./img/questions_mark.png" alt="Help">
            </a>
            <div id="profile-picture" class="profile-picture-container">
                <img class="profile-picture" src="./img/name-icon.png" alt="Profile">
            </div>
        </div>
    </header>


    <nav>
        <div class="sidebar-logo">
            <img src="./img/join-logo-white.svg" alt="JOIN">
        </div>

        <div class="sidebar-links">
            <a id="#" href="#" class="sidebar-props">
                <div class="sidebar-icons">
                    <img src="./img/summary-icon.svg">
                </div>
                <span class="sidebar-text">
                    Summary
                </span>
            </a>

            <a id="#" href="#" class="sidebar-props">
                <div class="sidebar-icons">
                    <img src="./img/board-icon.svg">
                </div>
                <span class="sidebar-text">
                    Board
                </span>
            </a>

            <a id="#" href="#" class="sidebar-props">
                <div class="sidebar-icons">
                    <img src="./img/add-task-icon.svg">
                </div>
                <span class="sidebar-text">
                    Add Task
                </span>
            </a>

            <a id="#" href="#" class="sidebar-props">
                <div class="sidebar-icons">
                    <img src="./img/contacts-icon.svg">
                </div>
                <span class="sidebar-text">
                    Contacts
                </span>
            </a>
        </div>

        <div class="sidebar-legal-notice">
            <a id="#" href="#" class="legal-notice">
                <div class="sidebar-icons">
                    <img src="./img/legal-notice-icon.png">
                </div>
                <span class="sidebar-text">
                    Legal notice
                </span>
            </a>
        </div>
    </nav>


</body>

</html>